article.post
	h2.mt-0
		a.uppercase(href=proj.project[0].category) !{proj.project[0].category}
		<br> !{proj.project[0].date}
	section
		header
			h2.mt-0
				a(href="single"+ index +".html").negative-gap !{proj.project[0].title}
		section.p-0.post-content
			p !{proj.project[0].text}
			if proj.project[0].image
				img.img-fluid(src=proj.project[0].image)
		footer.p-0
			h2.mt-0
				a(href="single"+ index +".html").negative-gap &#62;