main#content
	article
		h2.category.mt-0.negative-gap
			if projects[i]
				a(href="single"+i+".html") !{projects[i].project[0].category} <br>!{projects[i].project[0].date}
		section
			header.negative-gap
				h2.mt-0
					a(href="single"+ index +".html") !{projects[i].project[0].title}
			section.p-0
				p !{projects[i].project[0].textlong}
			footer.p-0.negative-gap
				.hashtags
					nav.nav-menu
						ul.navbar-nav
							each item in projects[i].project[0].tags
								li.nav-item
									a.nav-link(href=item.link + ".html") !{item.name}