extends layout.pug
block body
	body.about
block content
	main
		article
			p.mt-0 !{about.content}

			.hashtags
				nav.nav_menu(arial-label="site")
					ul.navbar-nav(role="list")
						each item in hashformal
							li.nav-item(role="listitem")
								a.nav-link(href=item.link + ".html") #{item.name}
						span  * * * <br>
						each item in hashideas
							li.nav-item(role="listitem")
								a.nav-link(href=item.link + ".html") #{item.name}
