extends layout.pug
block body
	body.people
block content
	main#content
		- var i = 0
		each proj, index in projects
			if proj.project[0].category == "working papers"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="events-forthcoming.html") Read more from #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "books"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="events-imagine.html") Read more from #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "articles"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="events-related.html") Read more from #{proj.project[0].category}
				- i = i + 1

		-i = 0
		each proj, index in projects
			if proj.project[0].category == "book chapters"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="events-related.html") Read more from #{proj.project[0].category}
				- i = i + 1

		-i = 0
		each proj, index in projects
			if proj.project[0].category == "other"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="events-related.html") Read more from #{proj.project[0].category}
				- i = i + 1
		-i = 0

		




